logs/
npm-debug.log
yarn-error.log
star-trails-api.stderr-0.log
star-trails-api.stdout-0.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
.vscode/
.github/
run/
.DS_Store
*.sw*
*.un~
typings/app/**/*.ts
typings/config/**/*.ts
.nyc_output/

config/*.js
app/**/*.js

dump.rdb

dist/
.history
.rpt2_cache

src/page/home/models/**/*.js